.social-links {
    display: flex;
    justify-content: center;
    &__item-link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border-radius: 50%;
        width: 44px;
        height: 44px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &_grey-color {
            color: #afb1b8;
        }
        &_white-color {
            color: #ffffff;
            background-color: rgba(255, 255, 255, 0.1);
        }
        &:hover,
        &:focus {
            color: var(--white-active-color);
            background-color: var(--accent-color);
            border-radius: 50%;
        }
    }
}

.social-links__item:not(:last-child) {
    margin-right: 10px;
}