:root {
    --main-text-color: #757575;
    --secondary-text-color: #212121;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --button-section-bg: #f5f4fa;
    --white-active-color: #ffffff;
    --fotter-hero-bg: #2f303a;
    --card-set-gap: 30px;
}